.dm-list {
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0 0 1rem;
    a {
      color: $text-color;
    }
  }
  p {
    padding: 1rem;
    margin: 0;
  }
}

.dm-thread {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
  .message {
    border: 1px solid $border-color;
    border-radius: 20px 20px 20px 0;
    padding: 1rem;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    .media {
      margin: 1rem 0;
      img,
      video {
        width: 100%;
      }
    }
  }
  .is-author {
    align-items: flex-end;
    p,
    .author {
      text-align: right;
      margin-left: auto;
    }
    .message {
      border-radius: 20px 20px 0 20px;
      color: $dm-author-text;
      background: $dm-author-background;
      margin-left: auto;
      a {
        color: $dm-author-text;
      }
    }
  }
  .author {
    color: $border-color;
    font-size: 0.9rem;
    width: 100%;
  }
}
