body header {
  border-bottom: 1px solid $border-color;
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-weight: bold;

  @media print {
    display: none;
  }
  &.print-only {
    display: none;

    @media print {
      display: block;
    }
  }
  .username {
    display: inline-block;
    margin-right: 2rem;
  }
  a,
  a:visited {
    color: $text-color;
    display: inline-block;
    margin-right: 1.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
