.tweet {
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  @media print {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $border-color;
  }
  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0 0 1rem;
    a {
      color: $text-color;
    }
    span {
      color: $border-color;
      font-size: 0.8rem;
      font-weight: normal;
    }
  }
  p {
    padding: 1rem;
    margin: 0;
  }
  .media {
    margin: 1rem;
    img {
      max-width: 100%;
    }
  }
  .meta {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1rem;
    border-top: 1px solid $border-color;
    @media print {
      border: none;
    }
    li {
      display: inline-block;
      margin-right: 2rem;
      span {
        font-weight: bold;
      }
      &.twitter-print-link {
        display: none;
        @media print {
          display: block;
        }
      }
      &.twitter-link {
        margin-left: auto;
        margin-right: 0;
        @media print {
          display: none;
        }
      }
    }
  }
}
