body {
  font-family: sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 2rem;
  color: $text-color;
  background: $body-background-color;
  a,
  a:visited {
    color: $link-color;
  }
}

h1 {
  &.user-title {
    display: flex;
    align-items: center;
    img {
      max-width: 60px;
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}
