body {
  font-family: sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 2rem;
  color: $text-color;
  background: $body-background-color;
  a,
  a:visited {
    color: $link-color;
  }
}

a[target='_blank']::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin-left: 0.5rem;
  display: inline-block;
}

h1 {
  &.user-title {
    display: flex;
    align-items: center;
    img {
      max-width: 60px;
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}

.verified {
  color: white;
  background: $twitter-blue;
  display: inline-block;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0 0.5rem;
  font-weight: bold;
  margin-left: 1.5rem;
}
