$link-color: rgb(65, 65, 207);
$twitter-blue: #1b95e0;
$border-color: grey;
$light-text-color: grey;
$text-color: black;
$body-background-color: white;
$dm-author-background: #3e547e;
$dm-author-text: white;

@import 'header';
@import 'container';
@import 'typography';
@import 'tweet';
@import 'dms';
