---
layout: layout.njk
permalink: direct-messages.html
---
<h1>{{account.username}} Direct Messages</h1>
{%for dm in dmList %}
  <article role="article" class="tweet">
    <h2>
      <a href="#{{dm.id}}" id="{{dm.id}}">{{dm.createdAt | dateFromISO }}</a>
    </h2>
    <p>{{dm.text | resolveLinks | limitLength(300) | safe}}</p>
    <ul class="meta">
      <li>
        {{dm._messageCount}} message{%if dm._messageCount > 1%}s{% endif %}
      </li>
      {% if dm._isGroup %}
        <li>Group message</li>
        {% endif%}
        <li>
          <a href="direct-messages/{{dm.hash}}.html">View Direct Message</a>
        </li>
      </ul>
    </article>
  {% endfor %}