---
layout: layout.njk
---
<h1 class="user-title">
  <img src="media/profile_media/{{account.accountId}}-{{profile.avatarMediaUrl | profileMediaFile }}"/>{{account.username}}
  {% if verified.verified %}
    <span class="verified">Verified</span>{% endif %}
</h1>
<p>All the Tweets of <a href="https://twitter.com/{{account.username}}">{{account.accountDisplayName}}</a>.</p>
<p class="print-only">
  <code>https://twitter.com/{{account.username}}</code>
</p>
<p>
This archive was generated on <strong>{{manifest.archiveInfo.generationDate | dateFromISO }}</strong>.
</p>

<h2>Twitter bio</h2>
<p>
  {{ profile.description.bio }}
</p>
{% if profile.description.website %}
  <p>
    <strong>Website:</strong>
    <a href="{{profile.description.website | twitterUrl}}">{{profile.description.website | twitterUrl}}</a>
  </p>
{% endif %}
{% if profile.description.location %}
  <p>
    <strong>Location:</strong>
    {{profile.description.location}}
  </p>
{% endif %}