---
layout: layout.njk
permalink: likes.html
---
<h1>{{account.username}} Likes</h1>
{%for like in likes %}
  <article class="tweet" role="article">
    <p>{{like.fullText | resolveLinks | safe }}</p>
    <div class="meta">
      <a href="{{ like.expandedUrl }}" class="open-twitter" target="_blank" rel="noreferrer">Open in Twitter</a>
    </div>
  </article>
{% endfor %}