body {
  font-family: sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 2rem;
}
body a,
body a:visited {
  color: #4141cf;
}

header {
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-weight: bold;
}
header a,
header a:visited {
  color: black;
}
