body header {
  border-bottom: 1px solid grey;
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-weight: bold;
}
body header .username {
  display: inline-block;
  margin-right: 2rem;
}
body header a,
body header a:visited {
  color: black;
  display: inline-block;
  margin-right: 1.5rem;
}
body header a:last-child,
body header a:visited:last-child {
  margin-right: 0;
}

.container {
  width: 100%;
  margin: 0 2rem;
}
@media screen and (min-width: 1100px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 2rem;
  color: black;
  background: white;
}
body a,
body a:visited {
  color: #4141cf;
}

h1.user-title {
  display: flex;
  align-items: center;
}
h1.user-title img {
  max-width: 60px;
  display: inline-block;
  margin-right: 0.5rem;
}
