body header {
  border-bottom: 1px solid grey;
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-weight: bold;
}
body header .username {
  display: inline-block;
  margin-right: 2rem;
}
body header a,
body header a:visited {
  color: black;
  display: inline-block;
  margin-right: 1.5rem;
}
body header a:last-child,
body header a:visited:last-child {
  margin-right: 0;
}

.container {
  width: 100%;
  margin: 0 2rem;
}
@media screen and (min-width: 1100px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 2rem;
  color: black;
  background: white;
}
body a,
body a:visited {
  color: #4141cf;
}

h1.user-title {
  display: flex;
  align-items: center;
}
h1.user-title img {
  max-width: 60px;
  display: inline-block;
  margin-right: 0.5rem;
}

.tweet {
  border: 1px solid grey;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}
.tweet h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0 0 1rem;
}
.tweet h2 a {
  color: black;
}
.tweet h2 span {
  color: grey;
  font-size: 0.8rem;
  font-weight: normal;
}
.tweet blockquote {
  padding: 1rem;
  margin: 0;
}
.tweet .media {
  margin: 1rem;
}
.tweet .media img {
  max-width: 100%;
}
.tweet .social-card {
  margin: 1rem;
  border-radius: 4px;
  border: 1px solid grey;
  margin: 1rem auto;
}
@media screen and (min-width: 1100px) {
  .tweet .social-card {
    max-width: 600px;
  }
}
.tweet .social-card h3 {
  font-size: 1rem;
}
.tweet .social-card h3,
.tweet .social-card p {
  padding: 0 1rem;
}
.tweet .social-card a {
  display: block;
  padding: 0.5rem;
  border-top: 1px solid grey;
  color: grey;
}
.tweet .social-card img {
  max-width: 100%;
  border-radius: 4px 4px 0 0;
}
.tweet .meta {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 1rem;
  border-top: 1px solid grey;
}
.tweet .meta li {
  display: inline-block;
  margin-right: 2rem;
}
.tweet .meta li span {
  font-weight: bold;
}
.tweet .twitter-link {
  margin-left: auto;
  margin-right: 0;
}
