{% extends "includes/base.njk" %}

{% block content %}
  <h1>{{account.username}} Tweets</h1>
  {%for tweet in tweets %}
    <div class="tweet">
      <strong>{{tweet.created_at | dateFromTweet}}</strong>
      <p>{{tweet.full_text | twitterBody | safe }}</p>
      {% if tweet.entities.media %}
        {%for media in tweet.entities.media %}
          <div class="media">
            <img src="{{media | mediaUrl }}" alt="" aria-hidden/>
          </div>
          {% endfor%}
        {% endif %}
      </div>
    {% endfor %}
  {% endblock %}