{% extends "includes/base.njk" %}

{% block content %}
  <h1>{{account.username}} Tweets</h1>
  {%for tweet in tweets %}
    <div class="tweet">
      <strong>{{tweet.created_at | dateFromTweet}}</strong>
      <p>{{tweet.full_text}}</p>
    </div>
  {% endfor %}
{% endblock %}