<!doctype html>
<html>
  <head>
    <title>{{ pageTitle }}</title>
    {% set css %}
    {% include "style.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <a class="username" href="{{pathPrefix}}index.html">{{account.username}}</a>
        {%if include.tweets %}
          <a href="{{pathPrefix}}tweets.html">Tweets</a>
        {% endif %}
        {%if include.dms %}
          <a href="{{pathPrefix}}direct-messages.html">Direct messages</a>
        {% endif %}
        {%if include.likes %}
          <a href="{{pathPrefix}}likes.html">Likes</a>
        {% endif %}
        <a href="{{pathPrefix}}download.html">Download</a>
      </div>
    </header>
    <main class="container">
      {{ content | safe }}
    </main>
  </body>
</html>