<!doctype html>
<html>
  <head>
    <title>{{ pageTitle }}</title>
    <style>
      {{style}}
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <a class="username" href="{{pathPrefix}}index.html">{{account.username}}</a>
        {%if include.tweets %}
          <a href="{{pathPrefix}}tweets.html">Tweets</a>
        {% endif %}
        {%if include.dms %}
          <a href="{{pathPrefix}}dms.html">Direct messages</a>
        {% endif %}
      </div>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>