<!doctype html>
<html>
<head>
<title>{{ pageTitle }}</title>
<style>{{style}}</style>
</head>
<body>
<header>
  <a href="{{pagePath}}tweets.html">Tweets</a>
</header>
{% block content %}{% endblock %}
</body>
</html>