<!doctype html>
<html>
<head>
<title>{{ pageTitle }}</title>
<style>{{style}}</style>
</head>
<body>
<header>
  <div class="container">
    <a href="{{pagePath}}tweets.html">Tweets</a>
  </div>
</header>
<main class="container">
{% block content %}{% endblock %}
</main>
</body>
</html>