name: Unit tests
on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: '17.4'
      - name: Install
        run: yarn install
      - name: Build docs & deploy
        run: yarn docs
