name: Unit tests
on: [pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: '12.20'
      - name: Install
        run: yarn install
      - name: Linting
        run: yarn test
